<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p><strong>Компания</strong></p>
          <p> Име:{{detailsModel?.name}}
          </p>
          <p>Булстат: {{detailsModel?.bulstat}}</p>
          <p>Адрес: {{detailsModel?.address}}</p>
          <p>Имейл:  {{detailsModel?.email}}</p>
          <p>Телефон: {{detailsModel?.phone}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          TODO -> search
        </div>
      </div>
      <div class="col-md-2">
        <input type="submit" class="profile-edit-btn btn-warning " name="btnAddMore" value="Edit"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        TODO -> list product
      </div>
    </div>
  </form>
</div>
