<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p><strong> Insurance Company</strong></p>
          <p>Name: Ime</p>
          <p>Bulstat: asd</p>
          <p>Address: dressa</p>
          <p>Email: asd@abv.bg</p>
          <p>Phone: 00000000</p>
          <p>Registered by: username</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          TODO -> search
        </div>
      </div>
      <div class="col-md-2">
        <input type="submit" class="profile-edit-btn btn-warning " name="btnAddMore" value="Edit"/>
      </div>
    </div>
    <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-8">
         TODO -> list product
      </div>
    </div>
  </form>
</div>
