<div class="d-flex justify-content-center align-items-center login-div company-body">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center">Register Ins. Company</h3>
      <div class="d-flex justify-content-end social_icon">
        <span><i class="fab fa-facebook-square"></i></span>
        <span><i class="fab fa-google-plus-square"></i></span>
        <span><i class="fab fa-twitter-square"></i></span>
      </div>
    </div>
    <div class="card-body">
      <form>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <label for="name" class="input-group-text">
              <mat-icon>badge</mat-icon>
            </label>
          </div>
          <input type="text" class="form-control" placeholder="Name" name="name" id="name" required="required">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <label for="bulstat" class="input-group-text">
              <mat-icon>support_agent</mat-icon>
            </label>
          </div>
          <input type="text" class="form-control" placeholder="Bulstat" name="bulstat" id="bulstat" required="required"
          maxlength="13" minlength="9">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <label for="address" class="input-group-text">
              <mat-icon>pin_drop</mat-icon>
            </label>
          </div>
          <input type="text" class="form-control" placeholder="Address" name="address" id="address" required="required">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <label for="email" class="input-group-text">
              <mat-icon>alternate_email</mat-icon>
            </label>
          </div>
          <input type="email" class="form-control" placeholder="Email" name="email" id="email" required="required">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <label for="phone" class="input-group-text">
              <mat-icon>phone</mat-icon>
            </label>
          </div>
          <input type="tel" class="form-control" placeholder="Phone number" name="phone" id="phone"
                 required="required" maxlength="15">
        </div>
        <div class="form-group">
          <input type="submit" value="Register" class="btn float-right login_btn">
        </div>
      </form>
    </div>
  </div>
</div>
