<div class="signup-form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2 class="form-text">Компания</h2>
    <!--    <p class="hint-text">Create your account. It's free and only takes a minute.</p>-->
    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="name" class="input-group-text bg-color-icon">
            <mat-icon>badge</mat-icon>
          </label>
        </div>
        <div class="col-sm-10 pl-0">
          <input type="text" class="form-control" name="name" placeholder="Име" id="name"
                 formControlName="name">
        </div>
      </div>
      <div *ngIf="registerForm.get('name')!.invalid && registerForm.get('name')!.touched"
           class="error-messages form-control">
        <span *ngIf="registerForm.get('name')!.errors?.required">Име е задължително поле!</span>
        <span
          *ngIf="registerForm.get('name')!.errors?.minlength">Име е с минимум дължина 3 символа!</span>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="bulstat" class="input-group-text bg-color-icon">
            <mat-icon>support_agent</mat-icon>
          </label>
        </div>
        <div class="col-sm-10 pl-0">
          <input type="text" class="form-control" name="bulstat" placeholder="Булстат" id="bulstat"
                 formControlName="bulstat">
        </div>
      </div>
      <div *ngIf="registerForm.get('bulstat')!.invalid && registerForm.get('bulstat')!.touched"
           class="error-messages form-control">
        <span *ngIf="registerForm.get('bulstat')!.errors?.required">Булстат е задължително поле!</span>
        <span *ngIf="registerForm.get('bulstat')!.errors?.minlength ||
                  registerForm.get('bulstat')!.errors?.maxlength">
          Булстат трябва да бъде межд 9 и 13 символа!
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="address" class="input-group-text bg-color-icon">
            <mat-icon>pin_drop</mat-icon>
          </label>
        </div>
        <div class="col-sm-10 pl-0">
          <input type="text" class="form-control" name="address" placeholder="Адрес" id="address"
                 formControlName="address">
        </div>
      </div>
      <div *ngIf="registerForm.get('address')!.invalid && registerForm.get('address')!.touched"
           class="error-messages form-control">
        <span *ngIf="registerForm.get('address')!.errors?.required">Адрес е задължително поле!</span>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="email" class="input-group-text bg-color-icon">
            <mat-icon>alternate_email</mat-icon>
          </label>
        </div>
        <div class="col-sm-10 pl-0">
          <input type="email" class="form-control" name="email" placeholder="Имейл" id="email"
                 formControlName="email">
        </div>
      </div>
      <div *ngIf="registerForm.get('email')!.invalid && registerForm.get('email')!.touched"
           class="error-messages form-control">
        <span *ngIf="registerForm.get('email')!.errors?.required">Имейл е задължително поле!</span>
        <span
          *ngIf="registerForm.get('email')!.errors?.email">Имейлът е невалиден!</span>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="phone" class="input-group-text bg-color-icon">
            <mat-icon>phone</mat-icon>
          </label>
        </div>
        <div class="col-sm-10 pl-0">
          <input type="text" class="form-control" name="phone" placeholder="Телефонен номер" id="phone"
                 formControlName="phone">
        </div>
      </div>
      <div *ngIf="registerForm.get('phone')!.invalid && registerForm.get('phone')!.touched"
           class="error-messages form-control">
        <span *ngIf="registerForm.get('phone')!.errors?.required">Телефонен номер е задължително поле!</span>
        <span
          *ngIf="registerForm.get('phone')!.errors?.maxlength">Телефонен номер максимална дължина 15 символа!
        </span>
        <span
          *ngIf="!registerForm.get('phone')!.errors?.required &&
         !registerForm.get('phone')!.errors?.maxlength &&
          registerForm.get('phone')!.errors?.phoneInvalid">Трябва да съдържа само цифри!
        </span>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block"
              [disabled]="registerForm.invalid || registerForm.untouched">
        Добави
      </button>
    </div>
  </form>
</div>
