<div class="row p-3 bg-info">
  <div class="col-sm-4">
    <div class="input-group-prepend ">
      <label for="name" class="input-group-text">
        <mat-icon>badge</mat-icon>
      </label>
      <input type="text" class="form-control" placeholder="Име" name="name" id="name" [(ngModel)]="filterName"
       (keyup)="changeFilter()">
    </div>

  </div>
  <div class="col-sm-4">
    <div class="input-group-prepend pl-3">
      <label for="bulstat" class="input-group-text">
        <mat-icon>support_agent</mat-icon>
      </label>
      <input type="text" class="form-control" placeholder="Булстат" name="bulstat" id="bulstat" [(ngModel)]="filterBulstat"
             (keyup)="changeFilter()">
    </div>
  </div>
  <div class="col-sm-4">
    <a class="btn btn-success float-right border-dark" routerLink="/ins-company/create">Впиши компания</a>
  </div>
</div>
<div>
  <table class="table table-hover bg-white">
    <thead>
    <tr>
      <th scope="col" class="col-1">#</th>
      <th scope="col" class="col-2">Име</th>
      <th scope="col" class="col-2">Булстат</th>
      <th scope="col" class="col-2">Имейл</th>
      <th scope="col" class="col-2">Телефон</th>
      <th scope="col" class="col-4">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of insCompanyTableModels; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{c.name}}</td>
      <td>{{c.bulstat}}</td>
      <td>{{c.email}}</td>
      <td>{{c.phone}}</td>
      <td>
        <a class="btn btn-info mr-2" routerLink="{{'/ins-company/details/' + c.id}}">Details</a>
        <a class="btn btn-warning mr-2" routerLink="{{'/ins-company/edit/' + c.id}}">Edit</a>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
