<div class="row pt-3 pb-3 bg-info mr-1">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="input-group-prepend ">
      <input type="text" class="form-control" placeholder="Име" name="name" id="name"
             [(ngModel)]="filterName"
             (keyup)="changeFilter()">
    </div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-3">
    <button *ngIf="sessionStorage.getItem('isAdmin')" class="btn btn-success border-dark" routerLink="{{'/ins-product/create/'}}">
      Добави продукт
    </button>
  </div>
</div>
<div >
    <table class="table table-hover bg-white">
      <thead>
      <tr>
        <th scope="col" class="col-1">#</th>
        <th scope="col" class="col-2">Име</th>
        <th scope="col" class="col-2">Тип</th>
        <th scope="col" class="col-1">Комисионна</th>
        <th scope="col" class="col-1">Премия</th>
        <th scope="col" class="col-1">Разрочено плащане</th>
        <th scope="col" class="col-4">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of productsTableModels; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{p.name}}</td>
        <td>{{p.typeDescription}}</td>
        <td>{{p.comission.toFixed(2)}}%</td>
        <td>{{p.premium.toFixed(2)}}%</td>

        <td *ngIf="p.defered==true">
          <mat-icon color="accent">check_circle</mat-icon>
        </td>
        <td *ngIf="p.defered==false">
          <mat-icon color="warn"> highlight_off</mat-icon>
        </td>

        <td>
          <a class="btn btn-info m-1" routerLink="{{'/ins-product/details/' + p.id}}">Детайли</a>
          <a class="btn btn-warning m-1" *ngIf="sessionStorage.getItem('isAdmin')" routerLink="{{'/ins-product/edit/' + p.id}}">Редакция</a>
          <button class="btn btn-danger m-1" *ngIf="sessionStorage.getItem('isAdmin')" (click)="deleteOne(p.id)">Изтрйи</button>
        </td>
      </tr>
      </tbody>
    </table>
</div>
