<div class="signup-form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" *ngIf="registerForm">
    <h2 class="form-text">Продукт</h2>
    <!--    <p class="hint-text">Create your account. It's free and only takes a minute.</p>-->
    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="name" class="input-group-text bg-color-icon">
            <mat-icon>badge</mat-icon> *
          </label>
        </div>
        <div class="col-sm-10 pl-0">
          <input type="text" class="form-control" name="name" placeholder="Име" id="name"
                 formControlName="name" >
        </div>
      </div>
      <div *ngIf="registerForm.get('name')!.invalid && registerForm.get('name')!.touched"
           class="error-messages form-control">
        <span *ngIf="registerForm.get('name')!.errors?.required">Име е задължително поле!</span>
        <span *ngIf="registerForm.get('name')!.errors?.minlength">Име е с минимална дължина 3 символа!</span>
        <span *ngIf="registerForm.get('name')!.errors?.maxlength">Име е с максимална дължина 50 символа!</span>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="insTypeId" class="input-group-text bg-color-icon">
            <mat-icon>format_list_bulleted</mat-icon> *
          </label>
        </div>
        <div class="col-sm-10 pl-0">
          <select class="form-control" name="insTypeId" id="insTypeId"  formControlName="insTypeId">
            <option value="" selected disabled hidden >-- Изберете тип --</option>
            <option *ngFor="let n of nInsTypes" [ngValue]="n.id">
              {{ n.description }}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="registerForm.get('insTypeId')!.invalid && registerForm.get('insTypeId')!.touched"
           class="error-messages form-control">
        <span *ngIf="registerForm.get('insTypeId')!.errors?.required">Тип е задължително поле!</span>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="premium" class="input-group-text bg-color-icon">
            <mat-icon>paid</mat-icon> *
          </label>
        </div>
        <div class="col-sm-10 pl-0">
          <input type="number" step="0.01" class="form-control" name="premium" placeholder="Премия в %" id="premium"
                 formControlName="premium">
        </div>
      </div>
      <div *ngIf="registerForm.get('premium')!.invalid && registerForm.get('premium')!.touched"
           class="error-messages form-control">
        <span *ngIf="registerForm.get('premium')!.errors?.required">Премия е задължително поле!</span>
        <span *ngIf="registerForm.get('premium')!.errors?.min">Премия трябва да е полужително число!</span>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="comission" class="input-group-text bg-color-icon">
            <mat-icon>price_check</mat-icon> *
          </label>
        </div>
        <div class="col-sm-10 pl-0">
          <input type="number" step="0.01" class="form-control" name="comission" placeholder="Комисиона в %" id="comission"
                 formControlName="comission">
        </div>
      </div>
      <div *ngIf="registerForm.get('comission')!.invalid && registerForm.get('comission')!.touched"
           class="error-messages form-control">
        <span *ngIf="registerForm.get('comission')!.errors?.required">Комисиона е задължително поле!</span>
        <span *ngIf="registerForm.get('comission')!.errors?.min">Комисиона трябва да е полужително число!</span>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label class="input-group-text bg-color-icon">
            <mat-icon>format_list_bulleted</mat-icon> *
          </label>
        </div>
        <div class="col-sm-10 pl-0">
          <input type="text" id="insCompanyName" class="form-control" disabled value="{{companyName}}">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-check-label" >
        <input type="checkbox" formControlName="defered">
        Разсрочено плащане на застрахователната премия.
      </label>
    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block"
              [disabled]="registerForm.invalid || registerForm.untouched">
        Добави
      </button>
    </div>
  </form>
</div>
