<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">InsBroker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="!sessionStorage.getItem('username')">
        <li class="nav-item pt-2 " routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about">За нас <mat-icon>menu_book</mat-icon></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/user/register">Регистрация <mat-icon>person_add</mat-icon></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/user/login">Вход <mat-icon>login</mat-icon></a>
        </li>
      </ng-container>
      <ng-container *ngIf="sessionStorage.getItem('username')">

        <ng-container *ngIf="sessionStorage.getItem('isAdmin') === 'true'">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/ins-company/list">Компании<mat-icon>apartment</mat-icon></a>
          </li>
        </ng-container>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="logOut()" >Изход <mat-icon>logout</mat-icon></a>
        </li>
      </ng-container>

    </ul>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
  </div>
</nav>
