<div class="signup-form">
  <form>


    <h2 class="form-text">Полица</h2>
    <div class="row">
      <div class="col-md-5">


        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Клиент:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy?.clientTypeDescription}}</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Име:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy?.fullName}}</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6 *ngIf="policy?.clientTypeCode=='PERSON'">ЕГН:</h6>
              <h6 *ngIf="policy?.clientTypeCode!='PERSON'">Булстат:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy.egnBulstat}}</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Имейл:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy?.email}}</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Тел. номер:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy?.phoneNumber}}</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Адрес:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy?.address}}</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Доп. информация:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy?.clientNote}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Идентификационен номер:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy?.identityNumber}}</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Застрахователна сума:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy?.sum}}</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Застрахователен продукт:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy?.productName}}</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Вид застрахователен обект:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy?.objectTypeDescription}}</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Застрахован обект:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy?.objectName}}</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Описание на застрахователния обект:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy?.objectDescription}}</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Доп. информация за полица:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy?.policyNote}}</span>
            </div>
          </div>
        </div>


        <div class="form-group ">
          <div class="row">
            <div class="col-md-5 ml-5">
              <span><strong>От:</strong> {{policy?.startDate  | date:'dd-MM-yyyy'}}</span>
            </div>
            <div class="col-md-5">
              <span><strong>До:</strong> {{policy?.endDate  | date:'dd-MM-yyyy'}}</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Застрахователна Премия:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy.premium.toFixed(2)}} лв.</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Данък Застрахователна Премия:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy.tax.toFixed(2)}} лв.</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Комисионна:</h6>
            </div>
            <div class="col-md-6">
              <span> {{policy.commission.toFixed(2)}} лв.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-danger" (click)="deleteOne(policy?.id)">
      Изтрйи
    </button>
  </form>
</div>
