<div class="signup-form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2 class="form-text">Полица</h2>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5 pr-0">
              <input type="radio" id="person" name="type-client" value="person"
                     checked
                     (click)="onChangeClientType($event)">
              <label for="person">Физическо лице</label>
            </div>
            <div class="col-md-5 pl-0">
              <input type="radio" id="legal" name="type-client" value="legal"
                     (click)="onChangeClientType($event )">
              <label for="legal">Юридическо лице</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5 pr-0">
              <input type="radio" id="newClient" name="client-data" value="newClient"
                     checked
                     (click)="onChangeClientData($event)">
              <label for="newClient">Нов клиент</label>
            </div>
            <div class="col-md-5 pl-0">
              <input type="radio" id="existClient" name="client-data" value="existClient"
                     (click)="onChangeClientData($event )">
              <label for="existClient">Съществуващ клиент</label>
            </div>
          </div>
        </div>


        <div class="form-group" *ngIf="!isExistClient">
          <div class="row">
            <div class="col-md-2">
              <label for="name" class="input-group-text bg-color-icon">
                <mat-icon>badge</mat-icon>
                *
              </label>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control" name="name" formControlName="name" placeholder="Име" id="name">
            </div>
          </div>

          <div *ngIf="registerForm.get('name')!.invalid && registerForm.get('name')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('name')!.errors?.required">Име е задължително поле!</span>
            <span *ngIf="registerForm.get('name')!.errors?.minlength">Име е с минимална дължина 3 символа!</span>
          </div>

          <div class="row pt-1" *ngIf="clientType=='person' && !isExistClient">
            <div class="col-md-2">
              <label for="middleName" class="input-group-text bg-color-icon">
                <mat-icon>badge</mat-icon>
                *
              </label>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control" name="middleName" formControlName="middleName"
                     placeholder="Презиме" id="middleName">
            </div>
          </div>

          <div
            *ngIf="clientType=='person' && !isExistClient && registerForm.get('middleName')!.invalid && registerForm.get('middleName')!.touched"
            class="error-messages form-control">
            <span *ngIf="registerForm.get('middleName')!.errors?.required">Бащино име е задължително поле!</span>
            <span
              *ngIf="registerForm.get('middleName')!.errors?.minlength">Бащино име е с минимална дължина 3 символа!</span>
          </div>

          <div class="row pt-1 " *ngIf="clientType=='person' && !isExistClient">
            <div class="col-md-2">
              <label for="lastName" class="input-group-text bg-color-icon">
                <mat-icon>badge</mat-icon>
                *
              </label>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control" name="lastName" formControlName="lastName" placeholder="Фамилия"
                     id="lastName">
            </div>
          </div>
          <div
            *ngIf="clientType=='person' && !isExistClient && registerForm.get('lastName')!.invalid && registerForm.get('lastName')!.touched"
            class="error-messages form-control">
            <span *ngIf="registerForm.get('lastName')!.errors?.required">Фамилия е задължително поле!</span>
            <span
              *ngIf="registerForm.get('lastName')!.errors?.minlength">Фамилия име е с минимална дължина 3 символа!</span>
          </div>
        </div>


        <div class="form-group" *ngIf="clientType=='person'">
          <div class="row">
            <div class="col-md-2">
              <label for="egn" class="input-group-text bg-color-icon">
                <mat-icon>assignment_ind</mat-icon>
                *
              </label>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control" name="egn" formControlName="egn" placeholder="ЕГН" id="egn">
            </div>
          </div>
          <div *ngIf="registerForm.get('egn')!.invalid && registerForm.get('egn')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('egn')!.errors?.required">ЕГН е задължително поле!</span>
            <span *ngIf="registerForm.get('egn')!.errors?.egnInvalid">ЕГН е невалиден!</span>
          </div>
        </div>

        <div class="form-group" *ngIf="clientType=='legal'">
          <div class="row">
            <div class="col-md-2">
              <label for="bulstat" class="input-group-text bg-color-icon">
                <mat-icon>support_agent</mat-icon>
                *
              </label>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control" name="bulstat" formControlName="bulstat" placeholder="Булстат"
                     id="bulstat">
            </div>
          </div>
          <div *ngIf="registerForm.get('bulstat')!.invalid && registerForm.get('bulstat')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('bulstat')!.errors?.required">Булстат е задължително поле!</span>
          </div>
        </div>

        <div class="form-group" *ngIf="!isExistClient">
          <div class="row">
            <div class="col-md-2">
              <label for="email" class="input-group-text bg-color-icon">
                <mat-icon>email</mat-icon>
              </label>
            </div>
            <div class="col-md-10">
              <input type="email" class="form-control" name="email" formControlName="email" placeholder="Имейл"
                     id="email">
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="!isExistClient">
          <div class="row">
            <div class="col-md-2">
              <label for="phoneNumber" class="input-group-text bg-color-icon">
                <mat-icon>phone</mat-icon>
                *
              </label>
            </div>
            <div class="col-md-10">
              <input type="tel" class="form-control" name="phoneNumber" formControlName="phoneNumber"
                     placeholder="Тел. номер" id="phoneNumber">
            </div>
          </div>
          <div *ngIf="registerForm.get('phoneNumber')!.invalid && registerForm.get('phoneNumber')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('phoneNumber')!.errors?.required">Телефонен номер е задължително поле!</span>
            <span *ngIf="!registerForm.get('phoneNumber')!.errors?.required &&
                          registerForm.get('phoneNumber')!.errors?.phoneInvalid">
              Трябва да съдържа само цифри!
            </span>
          </div>
        </div>

        <div class="form-group" *ngIf="!isExistClient">
          <div class="row">
            <div class="col-md-2">
              <label for="address" class="input-group-text bg-color-icon">
                <mat-icon>pin_drop</mat-icon>
                *
              </label>
            </div>
            <div class="col-md-10">
              <input type="tel" class="form-control" name="address" formControlName="address" placeholder="Адрес"
                     id="address">
            </div>
          </div>
          <div *ngIf="registerForm.get('address')!.invalid && registerForm.get('address')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('address')!.errors?.required">Булстат е задължително поле!</span>
          </div>
        </div>

        <div class="form-group" *ngIf="!isExistClient">
          <div class="row">
            <div class="col-md-2">
              <label for="note" class="input-group-text bg-color-icon">
                <mat-icon>add_comment</mat-icon>
              </label>
            </div>
            <div class="col-md-10">
              <textarea rows="3" class="form-control" placeholder="Доп. информация" id="note" name="note"
                        formControlName="note"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="form-group mt-5">
          <div class="row">
            <div class="col-md-2">
              <label for="identityNumber" class="input-group-text bg-color-icon">
                <mat-icon> pan_tool</mat-icon>
                *
              </label>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control" name="identityNumber" formControlName="identityNumber"
                     placeholder="Идентификационен номер" id="identityNumber">
            </div>
          </div>
          <div *ngIf="registerForm.get('identityNumber')!.invalid && registerForm.get('identityNumber')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('identityNumber')!.errors?.required">Идентификационен номер е задължително поле!</span>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="policySum" class="input-group-text bg-color-icon">
                <mat-icon> attach_money</mat-icon>
                *
              </label>
            </div>
            <div class="col-md-10">
              <input type="number" step="0.01" class="form-control"
                     name="policySum" formControlName="policySum"
                     placeholder="Застрахователна сума"
                     id="policySum" (change)=" setPolicySum($event)">
            </div>
          </div>
          <div *ngIf="registerForm.get('policySum')!.invalid && registerForm.get('policySum')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('policySum')!.errors?.required">Застрахователна сума е задължително поле!</span>
            <span *ngIf="registerForm.get('policySum')!.errors?.min">Застрахователна сума трябва да бъде минимум 1!</span>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="insProductType" class="input-group-text bg-color-icon">
                <mat-icon> reorder</mat-icon>
                *
              </label>
            </div>
            <div class="col-md-10">
              <select class="form-control" name="insProductType" formControlName="insProductType" id="insProductType"
                      (change)="getProductByType($event)">
                <option value="" selected hidden>-- Вид застрахователен продукт --</option>
                <option *ngFor="let n of nInsType" [ngValue]="n.id">
                  {{ n.description }}
                </option>
              </select>
            </div>
          </div>
          <div *ngIf="registerForm.get('insProductType')!.invalid && registerForm.get('insProductType')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('insProductType')!.errors?.required">Вид застрахователен продукт е задължително поле!</span>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="insProduct" class="input-group-text bg-color-icon">
                <mat-icon> assignment_late</mat-icon>
                *
              </label>
            </div>
            <div class="col-md-10">
              <select class="form-control" name="insProduct" formControlName="insProduct" id="insProduct"
                      (ngModelChange)="setSelectedProduct($event)">
                <option value="" selected hidden>-- Застрахователен продукт --</option>
                <option *ngFor="let n of insProducts" [ngValue]="n.id">
                  {{ n.name }}
                </option>
              </select>
            </div>
          </div>
          <div *ngIf="registerForm.get('insProduct')!.invalid && registerForm.get('insProduct')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('insProduct')!.errors?.required">Застрахователен продукт е задължително поле!</span>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="insObjectType" class="input-group-text bg-color-icon">
                <mat-icon>format_list_bulleted</mat-icon>
                *
              </label>
            </div>
            <div class="col-md-10">
              <select class="form-control" name="insObjectType" formControlName="insObjectType" id="insObjectType">
                <option value="" selected hidden>-- Вид на застрахования обект--</option>
                <option *ngFor="let n of nInsObjectTypes" [ngValue]="n.id">
                  {{ n.description }}
                </option>
              </select>
            </div>
          </div>

          <div *ngIf="registerForm.get('insObjectType')!.invalid && registerForm.get('insObjectType')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('insObjectType')!.errors?.required">Вид на застрахования обект е задължително поле!</span>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="objectName" class="input-group-text bg-color-icon">
                <mat-icon> home</mat-icon>
                *
              </label>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control" name="objectName" formControlName="objectName"
                     placeholder="Застрахован обект" id="objectName">
            </div>
          </div>
          <div *ngIf="registerForm.get('objectName')!.invalid && registerForm.get('objectName')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('objectName')!.errors?.required">Застрахован обект е задължително поле!</span>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="objectDescription" class="input-group-text bg-color-icon">
                <mat-icon> help_outline</mat-icon> *
              </label>
            </div>
            <div class="col-md-10">
              <textarea rows="3" class="form-control" placeholder="Описание на застрахователния обект"
                        id="objectDescription" name="objectDescription" formControlName="objectDescription"></textarea>
            </div>
          </div>
          <div *ngIf="registerForm.get('objectDescription')!.invalid && registerForm.get('objectDescription')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('objectDescription')!.errors?.required">Описание на застрахователния обект е задължително поле!</span>
          </div>
        </div>

        <div class="form-group" *ngIf="!isExistClient">
          <div class="row">
            <div class="col-md-2">
              <label for="policyNote" class="input-group-text bg-color-icon">
                <mat-icon>add_comment</mat-icon>
              </label>
            </div>
            <div class="col-md-10">
              <textarea rows="3" class="form-control" placeholder="Доп. информация за полица" id="policyNote"
                        name="policyNote" formControlName="policyNote"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <div class="row">
            <div class="col-md-5 ml-5">
              <label for="beginDate">От:</label>
              <input type="date" class="form-control" name="beginDate" formControlName="beginDate" id="beginDate">
            </div>
            <div class="col-md-5">
              <label for="endDate">До: </label>
              <input type="date" class="form-control" name="endDate" formControlName="endDate" id="endDate">
            </div>
          </div>

          <div *ngIf="registerForm.get('beginDate')!.invalid && registerForm.get('beginDate')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('beginDate')!.errors?.required">Начална дата е задължително поле!</span>
          </div>
          <div *ngIf="registerForm.get('endDate')!.invalid && registerForm.get('endDate')!.touched"
               class="error-messages form-control">
            <span *ngIf="registerForm.get('endDate')!.errors?.required">Крайна дата е задължително поле!</span>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Застрахователна Премия:</h6>
            </div>
            <div class="col-md-6">
              <span> {{premium.toFixed(2)}} лв.</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Данък Застрахователна Премия:</h6>
            </div>
            <div class="col-md-6">
              <span> {{taxPremium.toFixed(2)}} лв.</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h6>Комисионна:</h6>
            </div>
            <div class="col-md-6">
              <span> {{comission.toFixed(2)}} лв.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid || registerForm.untouched">
      Добави
    </button>
  </form>
</div>
