<app-header></app-header>
<div class="container bg-light">
  <!--  <app-home></app-home>-->
  <!--  <app-login></app-login>-->
  <!--  <app-register></app-register>-->
  <!--  <app-ins-company-register></app-ins-company-register>-->
  <!--  <app-ins-company-list></app-ins-company-list>-->
  <!--  <app-ins-company-details></app-ins-company-details>-->
  <!--  <app-ins-company-edit></app-ins-company-edit>-->
  <!--  <app-ins-product-create></app-ins-product-create>-->
  <!--    <app-ins-product-list></app-ins-product-list>-->
  <!--  <app-ins-product-edit></app-ins-product-edit>-->
  <!--  <app-ins-type-create></app-ins-type-create>-->
  <!--    <app-ins-type-list></app-ins-type-list>-->
  <!--<app-ins-type-edit></app-ins-type-edit>-->
  <app-policy-create></app-policy-create>

</div>
<app-footer></app-footer>
